<div class="container pt-3 pb-3">
  <div class="mb-3">
    <%= link_to new_admin_house_room_path do %>
      <button type="button" class="btn btn-primary">新規登録</button>
    <% end %> 
  </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">物件名</th>
      <th scope="col">name</th>
      <th scope="col">rent</th>
      <th scope="col">service_fee</th>
      <th scope="col">other_fee</th>
      <th scope="col">tatami_size</th>
      <th scope="col">condition</th>
      <th scope="col">画像</th>
      <th scope="col">部屋の編集</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <th scope="row"><%= room.id %></th>
      <td><%= room.house.name %></td>
      <td><%= room.name %></td>
      <td><%= room.rent %></td>
      <td><%= room.service_fee %></td>
      <td><%= room.other_fee %></td>
      <td><%= room.tatami_size %></td>
      <td><%= room.condition %></td>
      <td>
        <% room.images.each do |image| %>
          <%= image_tag image.to_s, width: "100px" %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_house_room_path(room.house_id, room.id) do %>
          <button type="button" class="btn btn-primary">編集</button>
        <% end %> 
      </td>
      <td>
        <%= link_to admin_house_room_path(room.house_id, room.id), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
          <button type="button" class="btn btn-danger">削除</button>
        <% end %> 
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>