  <%= form_for @room, url: admin_house_rooms_path(@room.house_id) do |f| %>
  <div class="field pt-3 pb-3">
    <%= f.label :name, "部屋名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field pt-3 pb-3">
    <%= f.label :rent, "家賃" %>
    <%= f.text_field :rent %>
  </div>
  <div class="field pt-3 pb-3">
    <%= f.label :service_fee, "共益費" %>
    <%= f.text_field :service_fee %>
  </div>
  <div class="field pt-3 pb-3">
    <%= f.label :other_fee, "その他費用" %>
    <%= f.text_field :other_fee %>
  </div>
  <div class="field pt-3 pb-3">
    <%= f.label :tatami_size, "広さ" %>
    <%= f.text_field :tatami_size %>
  </div>
  <div class="field pt-3 pb-3">
    <%= f.label :condition, "条件" %>
    <%= f.text_field :condition %>
  </div>
  <div class="field pt-3 pb-3">
    <%= f.label :images, "画像" %>
    <%= f.file_field :images, multiple: true %>
  </div>
  
  <div class="actions ">
    <%= f.submit "登録する" %>
  </div>
 </div>
<% end %>
