<div class="container pt-3 pb-3">
  <div class="mb-3">
    <%= link_to new_admin_house_path do %>
      <button type="button" class="btn btn-primary">新規登録</button>
    <% end %> 
  </div>
  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">access</th>
      <th scope="col">description</th>
      <th scope="col">gender_type</th>
      <th scope="col">images</th>
      <th scope="col">物件の編集</th>
      <th scope="col">削除</th>
      <th scope="col">部屋の編集</th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
    <tr>
      <th scope="row"><%= house.id %></th>
      <td><%= house.name %></td>
      <td><%= house.address %></td>
      <td><%= house.access %></td>
      <td><%= house.description %></td>
      <td><%= house.gender_type %></td>
      <td>
        <% house.images.each do |image| %>
          <%= image_tag image.to_s, width: "100px" %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_house_path(house.id) do %>
          <button type="button" class="btn btn-primary">編集</button>
        <% end %> 
      </td>
      <td>
        <%= link_to admin_house_path(house.id), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
          <button type="button" class="btn btn-danger">削除</button>
        <% end %> 
      </td>
      <td>
        <%= link_to edit_admin_house_room_path(room.id) do %>
          <button type="button" class="btn btn-primary">編集</button>
        <% end %> 
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>